@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");

body {
  margin: 0;
  font-family: "Press Start 2P", cursive;
  font-size: 2em;
  color: white;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
button {
  outline: none;
  cursor: pointer;
  border: none;
  box-shadow: 3px 5px 0px 0px rgba(0, 0, 0, 0.75);
  touch-action: manipulation;
}
#counter {
  position: absolute;
  top: 20px;
  right: 20px;
}
#end {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  z-index: 10;
  overflow: hidden;
}

#blood-screen {
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #8b0000;
  transition: top 1s steps(10);
}

#end.show #blood-screen {
  top: 0;
}

#game-over-content {
  position: relative;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s 1s;
}

#end.show #game-over-content {
  opacity: 1;
}

#end h1 {
  font-size: 2em;
  margin-bottom: 20px;
  text-shadow: 4px 4px 0px #000;
}

#end p {
  font-size: 1em;
  margin-bottom: 30px;
}

#end button {
  background-color: #fff;
  color: #8b0000;
  padding: 20px 50px;
  font-family: inherit;
  font-size: 1em;
  border: 4px solid #000;
  box-shadow: 6px 6px 0px 0px #000;
}

#end button:hover {
  background-color: #eee;
}
#controlls {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
#controlls div {
  display: grid;
  grid-template-columns: 50px 50px 50px;
  grid-template-rows: auto auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin-bottom: 20px;
}
#controlls button {
  width: 100%;
  background-color: white;
  border: 1px solid lightgray;
}
#controlls button:first-of-type {
  grid-column: 1/-1;
}
